.main-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    overflow: auto;

  .title-icon {
    padding: 0 14px;
  }

  .content-container {
    flex-grow: 1;
    height: 100px;
    overflow-y: auto;
  }

  app-nav-footer {
    z-index: 100;
  }

}

