<!-- <mat-toolbar color="primary">
  <mat-icon class="title-icon">directions_bike</mat-icon>
  <span class="title">MyVLille</span>
</mat-toolbar> -->

<!-- <router-outlet></router-outlet> -->

<nav mat-tab-nav-bar backgroundColor="primary" mat-align-tabs="center">
  <a mat-tab-link label="Stations" [routerLink]="['list']" routerLinkActive> <mat-icon>
      star_rate
    </mat-icon> </a>
  <a mat-tab-link label="Carte" [routerLink]="['map']" routerLinkActive>
    <mat-icon>
      map
    </mat-icon>
  </a>
</nav>
